/*configurações Gerais*/
a{
    color: rgb(250, 245, 245);
}
/*Fim das configurações Gerais*/

/*Configurações específicas*/

            /*-------------------HEADER--------------------*/

.navbar{ 
    justify-content: space-between;  /*separa os flex-items do container*/  
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;    /*barra no meu Fixa na tela*/
    z-index: 10;
    transition: 0.5s ease;      /*tempo de transição*/
    width: 100%;
    display: flex;
    justify-content: space-around;    
}
.nav-list{
    display: flex;
}
/*aplicação do stylo depois do Scroll da página*/
.scrolling-active .navbar{   /*elemento criado ao rolar o scroll do documento.*/
    background-color: #111; /*o Fundo muda quando o posicionamento do scroll for > 0*/
    padding-top: 10px; /*altura do menu principal*/
    padding-bottom: 10px;
    transition: 0.5s ease;
}
/* ----Effect Scolling para telas responsivas----*/
@media (max-width: $m-device){
    .scrolling-active .nav-list{
        top: 55px;
        transition: 0.5s ease;
        height: 300px;
    }
    .scrolling-active .linha-1, .scrolling-active .linha-2, .scrolling-active .linha-3{
        background: #fff;
    }
}
.scrolling-active .nav-item a{
    color: #fff;
}
.scrolling-active .logo{
    color: #fff;
}
/*Apply styles after scroll end*/

.mobile-menu-icon{
    display: none;      /*modo de exibição : "invisível"*/
    cursor: pointer;    /*cursor: mãozinha*/
}
.linha-1, .linha-2, .linha-3{
    width: 32px;    /*largura*/
    height: 2px;    /*altura*/
    background-color: #111; /*cor de fundo*/
    margin: 8px;    /*distanciamento externo*/
    transition: 0.5s ease;  /*Efeito de tempo da animação*/
}
.logo{
    display: block;     /*Mantem a logo justa*/
    padding: 5px;
}
.nav-item{
    padding: 5px 10px;
    margin-left: 10px;
}

/*MENU-RESPONSIVO*/
@media (max-width:$m-device){
    body{
        overflow-x: hidden;
    }
    .navbar{
        justify-content: space-around;
    }
    .nav-list{
        position: absolute;
        display: flex;
        top: 100px;
        right: 0;
        width: 30vw;
        height: 260px;
        background-color: #111;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: all 0.5s ease;
    }
    .mobile-menu-icon{
        display: block;
    }
    .nav-item a{
        color: #fff;
    }  
}
/*ANIMAÇÃO*/
.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px) ;
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu-icon.active .linha-1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu-icon.active .linha-2{
    opacity: 0;
}
.mobile-menu-icon.active .linha-3{
    transform: rotate(45deg) translate(-5px, -7px);
}
/*FIM DA ANIMAÇÃO*/

/*MENU-RESPONSIVO*/



            /*-------------------FIM DO HEADER--------------------*/
